{% extends "core/base_admin.html" %}
{% load i18n cache auth_tokens %}

{% block app_admin_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="dashboard">
            <a href="{% url 'ikwen:dashboard' %}">{% trans "Dashboard" %}</a>
        </li>
        <li role="presentation" class="categories">
            <a href="{% url 'council:category_list' %}">{% trans "Categories" %}</a>
        </li>
        <li role="presentation" class="profiles">
            <a href="{% url 'council:profile_list' %}">{% trans "Profiles" %}</a>
        </li>
        <li role="presentation" class="taxes">
            <a href="{% url 'billing:product_list' %}">{% trans "Taxes" %}</a>
        </li>
        <li role="presentation" class="paymentorders">
            <a href="{% url 'council:paymentorder_list' %}">{% trans "Payment Orders" %}</a>
        </li>
        <li role="presentation" class="payments">
            <a href="{% url 'billing:payment_list' %}">{% trans "Payments" %}</a>
        </li>
        <li role="presentation" class="payments">
            <a href="{% url 'council:change_banner' %}">{% trans "Banner" %}</a>
        </li>
        <li role="presentation" class="projects">
            <a href="{% url 'council:project_list' %}">{% trans "Projects" %}</a>
        </li>
        <li role="presentation" class="geolocation">
            <a href="javascript:;" data-toggle="collapse" data-target="#geolocation"
               aria-expanded="true" style="padding-right: 0;">Pinsview
                <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="geolocation" class="nav nav-pills nav-stacked collapse" aria-expanded="true"
                style="padding-left: 15px">
                <li class="cities">{% url 'pinsview:city_list' as city_list_url %}
                    <a href="{{ city_list_url }}">{% trans "Cities" %}</a>
                </li>
{#                <li class="zones">{% url 'pinsview:zone_list' as zone_list_url %}#}
{#                    <a href="{{ zone_list_url }}">{% trans "Zones" %}</a>#}
{#                </li>#}
                <li class="discount">{% url 'pinsview:pincategory_list' as pin_category_list_url %}
                    <a href="{{ pin_category_list_url }}">{% trans "Categories" %}</a>
                </li>
                <li class="pins">{% url 'pinsview:pin_list' as pin_list_url %}
                    <a href="{{ pin_list_url }}">{% trans "Pins" %}</a>
                </li>
                <div class="divider"></div>
                <li class="logeventtypes">{% url 'pinsview:logeventtype_list' as log_event_type_list_url %}
                    <a href="{{ log_event_type_list_url }}">{% trans "Log Event Types" %}</a>
                </li>
                <li class="logevents">{% url 'pinsview:assetlog_list' as asset_log_list_url %}
                    <a href="{{ asset_log_list_url }}">{% trans "Assets Log" %}</a>
                </li>
{#                <li class="neighborhoods">{% url 'pinsview:neighborhood_list' as neighborhood_list_url %}#}
{#                    <a href="{{ neighborhood_list_url }}">{% trans "Neighborhoods" %}</a>#}
{#                </li>#}
            </ul>
        </li>
    </ul>
{% endblock %}
