{% load i18n humanize staticfiles cache auth_tokens %}
<div class="edge-panel-left-container visible-xs" style="z-index: 1000;">
    <div id="side-nav" class="edge-panel-left subtle-shade" style="margin-left: -300px">
        <div class="wrapper">
            <div class="">
                <div class="top-edge-panel" style>
                    <div class="cover">
                        <div class="company">
                            <div class="logo">
                                <img class="img-responsive" src="{% static "econnect/img/creolink_logo.png" %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'econnect:numerilink-home' %}"><img class="nav-menu-img" src="{% static 'econnect/img/numerilink_home.png' %}"></a></li>
                <li><a href="{% url 'econnect:numerilink-hotel' %}"><img class="nav-menu-img" src="{% static 'econnect/img/numerilink_hotel.png' %}"></a></li>
                <li><a href="{% url 'econnect:homelink-pricing' %}"><img class="nav-menu-img" src="{% static 'econnect/img/homelink.png' %}"></a></li>
                <li><a href="{% url 'econnect:officelink-pricing' %}"><img class="nav-menu-img" src="{% static 'econnect/img/officelink.png' %}"></a></li>
                <li><a href="{% url 'econnect:corporatelink-pricing' %}"><img class="nav-menu-img" src="{% static 'econnect/img/corporatelink.png' %}"></a></li>
                <div class="divider"></div>
                <li><a href="{% url 'econnect:home' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'blog:home' %}">{% trans 'Blog' %}</a> </li>
                <div class="divider"></div>
                <li><a style="color: #d2d1d1;" href="{{ service.url }}/page/about/" >{% trans 'About Us' %}</a></li>
                <li><a style="color: #d2d1d1;" href="{{ service.url }}/page/privacy/" >{% trans 'Privacy policy' %}</a></li>
                <li><a style="color: #d2d1d1;" href="{{ service.url }}/page/legal-mentions/" >{% trans 'Legal mention' %}</a></li>
                {% if agreement_page %}
{#                            <li><a href="{% url 'flatpage' agreement_page.url %}">{{ agreement_page.title }}</a></li>#}
                {% endif %}
            </ul>
            <div class="clearfix"></div>
            <div class="social-icon">
                {% if config.facebook_link %}<li><a href="{{ config.facebook_link }}" target="_blank" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>{% endif %}
                {% if config.twitter_link %}<li><a href="{{ config.twitter_link }}" target="_blank" class="icoTwitter" title="Twitter"><i class="fab fa-twitter-square"></i></a></li>{% endif %}
                {% if config.linkedin_link %}<li><a href="{{ config.linkedin_link }}" target="_blank" class="icoLinkedin" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>{% endif %}
                {% if config.google_plus_link %}<li><a href="{{ config.google_plus_link }}" target="_blank" class="icoGoogle+" title="Google+"><i class="fab fa-google-plus-square"></i></a></li>{% endif %}
                {% if config.instagram_link %}<li><a href="{{ config.instagram_link }}" target="_blank" class="icoLinkedin" title="Instagram"><i class="fab fa-instagram"></i></a></li>{% endif %}
            </div>
            <div class="language-switcher text-center">
                {% include 'econnect/snippets/language_switcher.html' %}
            </div>
        </div>
    </div>
{#    <div id="footer">#}
{#        &copy; {{ year }} <a class="company-name" href="{% url 'econnect:home' %}"><strong>{{ config.company_name }}</strong></a>.#}
{#        {% trans "All rights reserved." %}#}
{#        {% if config.legal_mentions_url %}#}
{#        - <a href="{{ config.legal_mentions_url }}" style="color: #666; text-decoration: none">{% trans "Legal mentions" %}</a>#}
{#        {% endif %}#}
{#    </div>#}
</div>
