{% extends 'core/base_bs.html' %}
{% load i18n auth_tokens humanize static webdesign %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'council/css/council.css' %}?v=23.10.20" />
    <style>
        @media (max-width: 767px) {
            {% if config.brand_color %}#navbar {background: {{ config.brand_color }}}{% endif %}
        }
    </style>
{% endblock %}
{% block dropdown_user_menu %}
    <li id="user-menu" class="dropdown">
        <a class="icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="user-menu">
            <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url "ikwen:staff_router" %}">{% trans "Admin" %}</a></li>
            <li>
                <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
            </li>
            <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
        </ul>
    </li>
{% endblock %}
{% block dropdown_user_menu_xs %}
    <li class="dropdown">
        <a id="user-menu-xs" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="user-menu-xs">
            <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
            </li>
            <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
        </ul>
    </li>
{% endblock %}
{% block after_content %}
    <div class="edge-panel-left-container visible-xs">
        <div id="side-nav" class="edge-panel-left subtle-shade" style="margin-left: -300px">
            <div class="wrapper">
                <div class="stage">
                    <div class="top-edge-panel" style>
                        <div class="panel-top">
                        <img src="{% static 'ebonixe/img/ebonixe-logo-222x100.png' %}" class="img-responsive text-center" style="margin:auto; width: 60%">
                    </div>
                    <div class="divider"></div>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                            <li><a href="{% url 'flatpage' 'about' %}">{% trans 'About' %}</a> </li>
                            <li><a href="{% url 'flatpage' 'contact' %}">{% trans 'Contact' %}</a> </li>
                            {% if agreement_url %}
                                <li>
                                    <a href="{{ agreement_url }}">{% trans 'Terms & conditions' %}</a>
                                </li>
                            {% endif %}
                            <div class="text-right">
                                {% include 'core/snippets/language_switcher.html' %}
                            </div>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="social-icon">
                            {% if config.facebook_link %}
                                <a href="{{ config.facebook_link }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                            {% endif %}
                            {% if config.instagram_link %}<a href="{{ config.instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a>{% endif %}
                            {% if config.twitter_link %}<a href="{{ config.twitter_link }}" target="_blank"><i class="fa fa-twitter-square"></i></a>{% endif %}
                            {% if config.google_plus_link %}
                                <a href="{{ config.google_plus_link }}" target="_blank"><i class="fa fa-google-plus-square"></i></a>{% endif %}
                            {% if config.linkedin_link %}<a href="{{ config.linkedin_link }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>{% endif %}
                        </div>
                    </div>
                </div>

                <div class="footer">
                    &copy; {{ year }} <a class="company-name" href="{{ service.url }}"><strong>{{ config.company_name }}</strong></a>.
                    {% trans "All rights reserved." %}
                    {% if config.legal_mentions_url %}
                    - <a href="{{ config.legal_mentions_url }}" style="color: #666; text-decoration: none">{% trans "Legal mentions" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>MarketPlace</h3>
                    <ul style="padding-left: 0">
                        <li>
                            <a href="{% url 'home' %}">{% trans "Home" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'flatpage' 'contact' %}">{% trans "Contact" %}</a>
                        </li>
                        {% if about_page %}
                        <li>
                            <a href="{% url 'flatpage' about_page.url %}">{% trans "About" %}</a>
                        </li>
                        {% endif %}
                        {% if agreement_page %}
                        <li>
                            <a href="{% url 'flatpage' agreement_page.url %}">{% trans "Terms & conditions" %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-4 contacts">
                    <h3>Contacts</h3>
                    <ul style="padding-left: 0">
{#                        <li>#}
{#                            <i class="fa fa-map-marker"></i>#}
{#                            <a href="{% url 'home' %}">{% trans "Home" %}</a>#}
{#                        </li>#}
                        <li>
                            <i class="fab fa-whatsapp"></i>
                            <a href="https://api.whatsapp.com/send?phone={{ config.whatsapp_phone }}">{% trans "Send message" %}</a>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:{{ config.contact_email }}">{{ config.contact_email }}</a>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 share hidden">
                    <h3>{% trans "Share with mates" %}</h3>
                    <ul style="padding-left: 0">
                        <li>
                            <a href="https://api.whatsapp.com/send?text=https://ebonixe.love">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/sharer/sharer.php?u=https://ebonixe.love" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/home?status=https://ebonixe.love" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 services">
                    <h3>{% trans "Our services" %}</h3>
                    <ul style="padding-left: 0">
                        <li>
                            <a href="#taxes" data-target="#taxes">
                                <i class="fas fa-money-bill"></i> <span>{% trans 'Pay your taxes' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'foulassi:deploy_cloud' %}?is_baf_council=true">
                                <i class="fas fa-school"></i> <span>{% trans 'Digitalize your school' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.ikwen.com/tsunami/bundles?is_baf_council=true" target="_blank">
                                <i class="fas fa-shopping-cart"></i><span>{% trans 'Create your online shop' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'council:change_paymentorder' %}" target="_blank">
                                <i class="fas fa-receipt"></i><span>{% trans 'Follow a payment order' %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-right">
                {% include 'core/snippets/language_switcher.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    {{ config.scripts|safe }}
{% endblock %}
