{% extends 'core/change_object_base.html' %}
{% load i18n humanize static auth_tokens %}

{% block page_title %}
<title> {% if obj.member.is_ghost %}{{ obj.member.email }}{% else %}{{ obj.member.full_name }}{% endif %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/change-form.css' %}" />
    <link rel='stylesheet' href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
{% endblock %}

{% block breadcrumb_location %}
    <li>
        <a href="{% url 'council:paymentorder_list' %}">{% trans "Payment Orders" %}</a>
    </li>
    <li>{% if obj.member.is_ghost %}{{ obj.member.email }}{% else %}{{ obj.member.full_name }}{% endif %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <div id="stage" style="float: none; margin: auto">
                {% if obj %}
                {% with member=obj.provider %}
                    {% url 'ikwen:profile' member.id as member_profile_url %}
                    <div>
                        <div class="text-center">
                            <a href="{{ member_profile_url|ikwenize }}" class="welcome-title">
                                {% if member.photo.name %}
                                    <img class="img-circle img-thumbnail" src="{{ settings.IKWEN_MEDIA_URL }}{{ member.photo.small_name }}" style="margin-top: 1vh;width:100px;height:100px">
                                {% else %}
                                    <img class="img-circle img-thumbnail" src="{% static 'ikwen/img/login-avatar.jpg' %}" style="margin-top: 1vh;">
                                {% endif %}
                                {% if member.is_ghost %}
                                    <h4>{{ member.email }}</h4>
                                {% else %}
                                    <h4>{{ member.full_name }}</h4>
                                {% endif %}
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endwith %}
                {% endif %}
                <form class="col-sm-8 col-sm-offset-2" method="post">{% csrf_token %}
                    {% if form.errors %}
                        <div class="errorlist">{{ form.errors }}</div>
                    {% endif %}
                    <input type="hidden" id="customer-id" name="member_id" {% if obj.provider %}value="{{ obj.provider }}"{% endif %}/>
                    <input type="hidden" id="customer-email" name="email" />
                    {% if not obj and not form.errors %}
                        <div class="form-group" style="padding: 0 15px; margin: 5vh 0 0">
                            <label for="customer-name">{% trans "Provider email" %}</label>
                            <div>
                                <input id="customer-name" class="form-control input-sm" type="text" autocomplete="off"/>
                                {{ form.member_id.errors }}
                                <div class="results customers has-shade" style="display: none" data-min-search-chars="2">
                                    {% include 'core/snippets/spinner.html' %}
                                    <ul style="padding-left: 0">
                                        <li class="member tpl" style="display: none">
                                            <div style="display: block">
                                                <span class="photo logo bg-img" style="background-image: url({% static 'ikwen/img/no_photo.png' %})"></span>
                                                <div style="float: left; margin-left: 30px">
                                                    <span class="full_name"></span>
                                                    <p class="about short_description"></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="row col-xs-12 col-sm-8 col-md-4" style="margin-top: 3vh">
                                <button type="button" class="btn btn-sm btn-block btn-success continue" disabled>{% trans "Continue" %}</button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="payment-order-details{% if not obj and not form.errors %} tpl{% endif %}">
                        {% include 'core/snippets/model_admin_form.html' %}
                        <div style="padding-top: 30px; margin-bottom: 10px">
                            <div class="col-xs-12 col-sm-8 col-md-4">
                                <button class="btn btn-sm btn-block btn-success">{% trans "Save" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .payment-orders').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');

            $('.results.customers').on('click', 'li.member', function() {
                var customerId = $(this).data('id'),
                    customerName = $(this).find('.full_name').text();
                if (customerId && customerName) {
                    $('#customer-id').val(customerId);
                    $('#customer-name').val(customerName);
                    $('#stage .continue').prop('disabled', false);
                }
            }).css('width', $('#customer-name').css('width'));

            $('#stage').on('click', '.continue', function() {
                $(this).hide();
                $('.payment-order-details').show();
            });
            $('#customer-name').keyup(function() {
                var val = $(this).val();
                if (val.isValidEmail()) {
                    $('#customer-id').val('');
                    $('#customer-email').val(val);
                    $('#stage .continue').prop('disabled', false);
                } else {
                    $('#customer-email').val('');
                    $('#stage .continue').prop('disabled', true);
                }
            });
            $('#id_expiry').removeAttr('name').datepicker({
                altField: "#expiry-alt",
                altFormat: "yy-mm-dd"
            });
            {% if not obj %}
            {% url 'ikwen:member_list' as list_members_url %}
            var searchDescriptor = [{
                endpoint: '{{ list_members_url }}',
                resultTplSelector: '.results.customers li.member',
                maxChars: function() {
                    // The max number of characters that will be taken into consideration
                    // in the string typed by user to do the search. Characters above that
                    // limit will be ignored.
                    return Math.max($('#customer-name').val().length, 4);
                }
            }];
            $('#customer-name').focusout(function() {$('.results.customers').fadeOut()});
            ikwen.setupSearch('#customer-name', '.results.customers', searchDescriptor);
            {% endif %}
        })()
    </script>
{% endblock %}
